/*
 * This CSS is injected at document_start to hide 404 content
 * before it can flash on the /stats page
 */

/* Hide all possible 404/error content */
.request-error-page-content,
.default-error-page,
.error-page,
[class*="error-page"],
.content > .section-content:first-child {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

/* Prevent any flash of content by hiding #content until our script runs */
body:not(.roplus-stats-ready):not(.roplus-banned-users-ready) #content {
  visibility: hidden;
}

/* Once our script adds the class, content becomes visible */
body.roplus-stats-ready #content,
body.roplus-banned-users-ready #content {
  visibility: visible;
}
